.search-box {
  display: flex;
  width: 100%;
  margin-top: 40px;
  position: relative;
  height: 48px;
}

.search-icon {
  font-size: 25px;
  top: 11px;
  left: 15px;
  position: absolute;
  color: #DCD8D8;
}

.search-input {
  width: 100%;
  border-radius: 10px;
  border: none;
  padding-left: 50px;
  font-size: 16px;
  font-family: SFProText;
  background-color: #FDFCFC;
  box-shadow: 5px 5px 80px rgba(212, 173, 134, 0.122623);
  font-family: SFProText;
  color: #54565A;
}

.search-input:focus {
  outline: none;
}