section#home {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 18px;
}

.hello {
  margin: 20px 0;
  font-family: SFProDisplay;
  text-align: left;
  font-size: 24px;
}

.hello span {
  color: #FF6978;
}