section#home {
  width: 100vw;
  height: calc(100vh - 58px);
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 18px 30px 18px;
  overflow-y: auto;
}

.hello {
  margin: 20px 0;
  font-family: SFProDisplay;
  text-align: left;
  font-size: 24px;
}

.hello span {
  color: #FF6978;
}