.home-default-section {
  margin: 0 18px 0 18px;
}

.home-default-section .section-body {
  display: flex;
  font-family: SFProText!important;
  font-weight: 900;
}
.home-default-section .title {
  width: 100%;
  display: flex;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 10px;
}
.home-default-section .title .link {
  margin-left: auto;
  margin-right: 20px;
  font-size: 14px;
  color: #4ABDF1;
}