.search-card {
  width: 27%;
  margin-top: 10px;
}

.search-card .bookInfo .title {
  text-align: left;
  font-size: 12px;
  font-family: SFProDisplay;
  font-weight: 700;
  margin: 9px 0 5px 0;
}
.search-card .bookInfo .authors {
  text-align: left;
  font-size: 10px;
  font-family: SFProDisplay;
  font-weight: 900;
}

.search-card-image {
  height: 150px;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}
.search-card-image img {
  height: 150px;
  width: 100%;
}